<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <img src="assets/img/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundPixzinger">
  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrameonline">
          <img src="assets/img/generic_avatar.png" alt="" class="avatarImg img-fluid">
        </div>
      </ion-col>
      <ion-col col-9>
        Nick <br>
        <small>Subnick</small> <br>
        <small><b>mora_camilo@hotmail.com</b></small>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="searchBoxContainer">
    <ion-searchbar [(ngModel)]="query" placeholder="Buscar amigos"></ion-searchbar>
  </div>
  <div>
    <div>
      <b *ngIf="friends">Amigos ({{ friends.length}} )</b>
    </div>
    <br>
    <div class="contact-list-item contact-offline" 
    [ngClass]="{'contact-offline': user.status == 'Offline' || 
    user.status == 'AppearOffline'}"
    [ngStyle]="{'color': user.status == 'Offline' || 
    user.status == 'AppearOffline' ? 'red' : 'blue'}"
    *ngFor="let user of friends | search: query; let i = index;"
    (click)="goToConversation(user)">
       <img src="assets/img/{{getIconByStatus(user.status)}}" alt="" class="status">
       <b>{{user.email}}</b>
       <small *ngIf="user.status">{{user.status}}</small>
    </div>
  </div>
  <!-- <b>Amigos</b>
  <div *ngFor="let user of friends; let i = index">
    <div *ngIf="user.friend">
      <a routerLink="/conversation">
        {{i}}. {{user.nick}} - {{user.email}}
      </a>
  </div>
  </div> -->
  <!-- <ion-input type="text" placeholder="Buscar amigo" [(ngModel)]="query"></ion-input> -->


  <!-- <ion-list *ngFor="let user of friends | search: query; let i = index;">
    <ion-item (click)="goToConversation(user)">
      <ion-avatar item-start>
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" color="secondary" *ngIf="user.friend"></ion-icon>
        <ion-icon ios="ios-person-add" md="md-person-add" color="danger" *ngIf="!user.friend"></ion-icon>
      </ion-avatar>
      <!-- <h2>{{ i + 1 }}. {{ user.nick }}</h2> -->
      <!-- <h2>{{ i + 1 }}. {{ user.nick }}</h2>
      <h5>{{ user.email }}</h5>
    </ion-item>
  </ion-list>
  <br>  -->
  <!-- <b>No agregados</b>
  <ng-container *ngFor="let user of friends; let i = index;">
    <p *ngIf="!user.friend" (click)="goToConversation(user)">
      {{ i + 1 }}. {{ user.nick }} - {{ user.email }}
    </p>
  </ng-container>
  <br> -->
  <!-- <button ion-button (click)="goToConversation()">Ir a conversación</button>
  <button ion-button (click)="goToLogin()">Ir a login</button> -->
</ion-content>